*

!*/
!*.d
!*.el
!*.json
!*.h
!*.md
!*.sh
!*.yml
!.gitignore

.dub
docs.json
__dummy.html
docs/
/d-emacs-module
d-emacs-module.so
d-emacs-module.dylib
d-emacs-module.dll
d-emacs-module.a
d-emacs-module.lib
d-emacs-module-test-*
*.exe
*.o
*.obj
*.lst
